$t-font-size-h1: 48px;
$t-font-size-h2: 36px;
$t-font-size-h3: 24px;
$t-font-size-h4: 12px;

$t-font-regular: "Times New Roman", Times, serif, weight 400;
$t-font-bold: "Times New Roman", Times, serif, weight 700;

