$t-font-size-h1: 48px;
$t-font-size-h2: 36px;
$t-font-size-h3: 24px;
$t-font-size-h4: 16px;
$t-font-size-h5: 34px; //h2 nur als text-align:left. Konnte es leider nicht anders lösen.//
$t-font-size-h6: 12px;

$t-font-regular: "Times New Roman", Times, serif, weight 400;
$t-font-bold: "Times New Roman", Times, serif, weight 700;

