<link href="agb.scss" rel=".m-agb"/>
<h1>
    Allgemeine Geschäftsbedingungen
</h1>

    <h3>
        1. Allgemeines
    </h3>

        <br>
        1.1 Die nachfolgenden Allgemeine Geschäftsbedingungen gelten für alle Verträge über Grafikdesign-Leistungen zwischen dem Grafikdesigner und dem Auftraggeber ausschließlich. Dies gilt insbesondere auch dann, wenn der Auftraggeber Allgemeine Geschäftsbedingungen verwendet und diese entgegenstehende oder von den hier aufgeführten Allgemeine Geschäftsbedingungen abweichende Bedingungen enthalten.
        </br>
        <br>
        1.2 Die hier aufgeführten Allgemeine Geschäftsbedingungen gelten auch, wenn der Grafikdesigner in Kenntnis entgegenstehender oder von den hier aufgeführten Bedingungen abweichender Bedingungen des Auftraggebers den Auftrag vorbehaltlos ausführt.
        </br>
        <br>
        1.3 Abweichungen von den hier aufgeführten Bedingungen sind nur nach ausdrücklicher schriftlicher Zustimmung des Grafikdesigners gültig.
         </br>
    <h3>
    2. Vertragsgegenstand, Urheberrecht und Nutzungsrechte
    </h3>

        <br>
        2.1 Jeder dem Grafikdesigner erteilte Auftrag ist ein Urheberwerkvertrag, der auf die Einräumung von Nutzungsrechten an den Werkleistungen gerichtet ist. Die Überprüfung der wettbewerbsrechtlichen Zulässigkeit der Arbeiten des Grafikdesigners ist nicht Gegenstand des Vertrages. Er beinhaltet auch nicht die Prüfung der kennzeichen- oder sonstigen schutzrechtlichen Eintragungsfähigkeit oder Verwendbarkeit der Arbeiten des Grafikdesigners. Entsprechende Recherchen liegen in der Verantwortung des Auftraggebers.
        </br>
        <br>
        2.2 Alle Entwürfe und Reinzeichnungen unterliegen dem Urheberrechtsgesetz. Die Bestimmungen dieses Gesetzes gelten zwischen den Parteien auch dann, wenn die erforderlichen Schutzvoraussetzungen, z. B. die sog. Schöpfungshöhe, im Einzelfall nicht gegeben sein sollten. Damit gelten in einem solchen Fall insbesondere die urhebervertragsrechtlichen Regeln der §§ 31 ff. UrhG; darüber hinaus stehen den Parteien insbesondere die urheberrechtlichen Ansprüche aus §§ 97 ff. UrhG zu.
        </br>
        <br>
        2.3 Die Entwürfe und Reinzeichnungen dürfen ohne ausdrückliche Einwilligung des Grafikdesigners weder im Original noch bei der Reproduktion verändert oder an Dritte weitergegeben werden. Jede Nachahmung – auch von Teilen – ist unzulässig. Ein Verstoß gegen diese Ziffer 2.3 Satz 1 und 2 berechtigt den Grafikdesigner, eine Vertragsstrafe in Höhe von 100 Prozent der vereinbarten Vergütung neben der ohnehin zu zahlenden Vergütung zu fordern. Wurde bis zum Verstoß gegen diese Ziffer 2.3 Satz 1 und 2 noch kein eindeutiger Betrag für die Vergütung festgelegt, wird der Mittelwert der vom Grafikdesigner angegebenen Preisspanne als Betrag der Vergütung festgesetzt.
        </br>
        <br>
        2.4 Der Grafikdesigner räumt dem Auftraggeber die für den jeweiligen Zweck erforderlichen Nutzungsrechte ein. Soweit nichts anderes vereinbart ist, wird jeweils nur das einfache Nutzungsrecht eingeräumt. Eine Übertragung der Nutzungsrechte an Dritte bedarf der schriftlichen Vereinbarung.
        </br>
        <br>
        2.5 Die Nutzungsrechte gehen erst nach vollständiger Bezahlung der Vergütung auf den Auftraggeber über.
        </br>
        <br>
        2.6 Der Grafikdesigner ist auf den Vervielfältigungsstücken als Urheber zu nennen. Ein Verstoß gegen diese Bestimmung berechtigt den Grafikdesigner, eine Vertragsstrafe in Höhe von 100 Prozent der vereinbarten Vergütung neben der ohnehin zu zahlenden Vergütung zu fordern.
        </br>
        <br>
        2.7 Vorschläge und Weisungen des Auftraggebers bzw. seiner Mitarbeiter aus technischen, gestalterischen und anderen Gründen haben keinen Einfluss auf die Vergütung; sie begründen auch kein Miturheberrecht, es sei denn, dass sie ausdrücklich vereinbart worden sind.
        </br>
        <br>
        2.8 Die Entwürfe und Reinzeichnungen dürfen nur für den vereinbarten Nutzungsumfang (zeitlich, räumlich und inhaltlich) verwendet werden. Jede Nutzung über den vereinbarten Nutzungsumfang (zeitlich, räumlich und inhaltlich) hinaus ist nicht gestattet und berechtigt den Grafikdesigner, eine Vertragsstrafe in Höhe von 100 Prozent der vereinbarten Vergütung für diese erweiterte Nutzung neben der ohnehin zu zahlenden Vergütung zu fordern.
        </br>
        <br>
        2.9 Ist der Vertragsgegenstand ein Buchcover (egal, ob E-Book, Taschenbuch oder Hardcover) verpflichtet der Auftraggeber sich – im Falle einer Veröffentlichung – im Impressum des Buches (oder an geeigneter Stelle) folgendes CopyRight zu vermerken:
        </br>
        <br>
        © Cover- und Umschlaggestaltung: Madeleine Stolz
        </br>
    
    <h3>
    3. Vergütung
    </h3>
        <br>
        3.1 Entwürfe und Reinzeichnungen bilden zusammen mit der Einräumung von Nutzungsrechten eine einheitliche Leistung. Der Betrag der Vergütung und alle genannten Preise verstehen sich zzgl. gesetzlicher Umsatzsteuer.
        </br>
        <br>
        3.2 Werden die Entwürfe erneut oder in größerem Umfang als ursprünglich vorgesehen genutzt, so ist der Auftraggeber verpflichtet, eine Vergütung für die zusätzliche Nutzung zu zahlen.
        </br>
        <br>
        3.3 Werden keine Nutzungsrechte eingeräumt und nur Entwürfe und/oder Reinzeichnungen geliefert, entfällt die Vergütung für die Nutzung.
        </br>
        <br>
        3.4 Die Anfertigung von Entwürfen und sämtliche sonstigen Tätigkeiten, die der Grafikdesigner für den Auftraggeber erbringt, sind kostenpflichtig, sofern nicht ausdrücklich etwas anderes vereinbart ist.
        </br>
    
    <h3>
    4. Fälligkeit der Vergütung, Abnahme, Verzug
    </h3>
        <br>
        4.1 Die Abnahme darf nicht aus gestalterisch-künstlerischen Gründen verweigert werden. Im Rahmen des Auftrags besteht Gestaltungsfreiheit.
        </br>
        <br>
        4.2 Bei Zahlungsverzug kann der Grafikdesigner Verzugszinsen in Höhe von acht Prozent über dem jeweiligen Basiszinssatz der Europäischen Zentralbank p. a. verlangen. Die Geltendmachung eines nachgewiesenen höheren Schadens bleibt vorbehalten.
        </br>
    
    <h3>
    5. Sonderleistungen, Neben- und Reisekosten
    </h3>
        <br>
        5.1 Der Grafikdesigner ist nach vorheriger Abstimmung mit dem Auftraggeber berechtigt, die zur Auftragserfüllung notwendigen Fremdleistungen im Namen und für Rechnung des Auftraggebers zu bestellen. Der Auftraggeber verpflichtet sich, dem Grafikdesigner entsprechende Vollmacht zu erteilen.
        </br>
        <br>
        5.2 Soweit im Einzelfall Verträge über Fremdleistungen im Namen und für Rechnung des Grafikdesigners abgeschlossen werden, verpflichtet sich der Auftraggeber, den Grafikdesigner im Innenverhältnis von sämtlichen Verbindlichkeiten freizustellen, die sich aus dem Vertragsabschluss ergeben.
        </br>
        <br>
        5.3 Auslagen für technische Nebenkosten, insbesondere für spezielle Materialien, für die Anfertigung von Modellen, Fotos, Zwischenaufnahmen, Reproduktionen, Satz und Druck etc., sind vom Auftraggeber zu erstatten.
        </br>
        <br>
        5.4 Reisekosten und Spesen für Reisen, die im Zusammenhang mit dem Auftrag zu unternehmen und mit dem Auftraggeber abgesprochen sind, sind vom Auftraggeber zu erstatten.
        </br>
    
    <h3>
    6. Eigentum an Entwürfen und Daten
    </h3>
        <br>
        6.1 An Entwürfen und Reinzeichnungen werden nur Nutzungsrechte eingeräumt, nicht jedoch das Eigentum übertragen.
        </br>
        <br>
        6.2 Die Originale sind dem Grafikdesigner nach angemessener Frist unbeschädigt zurückzugeben, falls nicht schriftlich etwas anderes vereinbart wurde. Bei Beschädigung oder Verlust hat der Auftraggeber die Kosten zu ersetzen, die zur Wiederherstellung der Originale notwendig sind. Die Geltendmachung eines weitergehenden Schadens bleibt unberührt.
        </br>
        <br>
        6.3 Auch die in Erfüllung des Vertrages entstehenden Daten und Dateien verbleiben im Eigentum des Grafikdesigners. Dieser ist nicht verpflichtet, Daten und Dateien an den Auftraggeber zu übertragen.
        </br>
        <br>
        6.4 Hat der Grafikdesigner dem Auftraggeber Daten und Dateien zur Verfügung gestellt, dürfen diese nur mit vorheriger Zustimmung des Grafikdesigners geändert werden.
        </br>
        <br>
        6.5 Die Versendung sämtlicher in Ziffer 6.1 bis 6.4 genannten Gegenstände erfolgt auf Gefahr und für Rechnung des Auftraggebers.
        </br>
    
    <h3>
    7. Korrektur, Produktionsüberwachung, Belegexemplare und Eigenwerbung
    </h3>
        <br>
        7.1 Vor Ausführung der Vervielfältigung sind dem Grafikdesigner Korrekturmuster vorzulegen.
        </br>
        <br>
        7.2 Die Produktionsüberwachung durch den Grafikdesigner erfolgt nur aufgrund besonderer Vereinbarung. Bei Übernahme der Produktionsüberwachung ist der Grafikdesigner berechtigt, nach eigenem Ermessen die notwendigen Entscheidungen zu treffen und entsprechende Anweisungen zu geben.
        </br>
        <br>
        7.3 Von allen vervielfältigten Arbeiten überlässt der Auftraggeber dem Grafikdesigner unentgeltlich mindestens ein Belegexemplar. Der Grafikdesigner ist berechtigt, diese Muster und sämtliche in Erfüllung des Vertrages entstehenden Arbeiten zum Zwecke der Eigenwerbung in sämtlichen Medien zu verwenden und auf das Tätigwerden für den Auftraggeber hinzuweisen.
        </br>
    
    <h3>
    8. Haftung
    </h3>
        <br>
        8.1 Der Grafikdesigner haftet für entstandene Schäden, z. B. an ihm überlassenen Vorlagen, Filmen, Displays, Layouts etc., nur bei Vorsatz und grober Fahrlässigkeit, außer für Schäden aus der Verletzung des Lebens, des Körpers oder der Gesundheit; für solche Schäden haftet der Grafikdesigner auch bei leichter Fahrlässigkeit. Im Übrigen haftet er bei leichter Fahrlässigkeit nur, sofern eine Pflicht verletzt wird, deren Einhaltung für die Erreichung des Vertragszwecks von besonderer Bedeutung ist (Kardinalpflicht).
        </br>
        <br>
        8.2 Für Aufträge, die im Namen und auf Rechnung des Auftraggebers an Dritte erteilt werden, übernimmt der Grafikdesigner gegenüber dem Auftraggeber keinerlei Haftung. Der Grafikdesigner tritt in diesen Fällen lediglich als Vermittler auf.
        </br>
        <br>
        8.3 Mit der Freigabe von Entwürfen oder Reinzeichnungen durch den Auftraggeber übernimmt dieser die Verantwortung für die technische und funktionsmäßige Richtigkeit von Produkt, Text und Bild.
        </br>
        <br>
        8.4 Für solchermaßen vom Auftraggeber freigegebene Entwürfe oder Reinzeichnungen entfällt jede Haftung des Grafikdesigners.
        </br>
        <br>
        8.5 Der Grafikdesigner haftet nicht für die wettbewerbs- und markenrechtliche Zulässigkeit und Eintragungsfähigkeit seiner Entwürfe und sonstigen Designarbeiten.
        </br>
        <br>
        8.6 Beanstandungen offensichtlicher Mängel sind innerhalb von 14 Tagen nach Ablieferung des Werks schriftlich beim Grafikdesigner geltend zu machen. Zur Wahrung der Frist genügt die rechtzeitige Absendung der Rüge.
        </br>
        <br>
        8.7 Soweit der Grafikdesigner auf Veranlassung des Auftraggebers und/oder Verwerters Fremdleistungen in dessen Namen und auf dessen Rechnung in Auftrag gibt, haftet der Grafikdesigner nicht für die Leistungen und Arbeitsergebnisse der beauftragten Leistungserbringer.
        </br>
        <br>
        8.8 Bei Datenverlust durch höhere Gewalt oder Dateibeschädigungen übernimmt der Grafikdesigner keine Haftung. Dies gilt auch für Quelldateien einer Website. Aktualisierungen einer bestehenden Datei kann er im Falle eines Datenverlustes ablehnen oder die Reproduktion in Absprache mit dem Auftraggeber nach Aufwand abrechnen.
        </br>
        <br>
        8.9 Bei Fotoshootings geht der Grafikdesigner davon aus, dass fotografierte Personen deren Rechte am Bild an den Auftraggeber übertragen haben. Der Auftraggeber verpflichtet sich, die zur Verfügung gestellten Fotos auf deren rechtlich unbedenkliche Verwendung zu prüfen. Für evtl. Regressansprüche haftet der Auftraggeber.
        </br>
        <br>
        8.10 Sofern nicht anders vereinbart, verwendet der Grafikdesigner für die Gestaltung des Auftrags durch den Auftraggeber Bildmaterial vonund www.stock.adobe.com. Vom Grafikdesigner wird diesbezüglich die einfache Standardlizenz des Anbieters für sich eingekauft. Zur Einhaltung der Bestimmungen der Standardlizenz ist der Auftraggeber verantwortlich. Der Grafikdesigner haftet nicht für die Einhaltung der Standardlizenz. Die Copyrightangaben werden auf Nachfrage vom Grafikdesigner mitgeteilt und müssen je nach Lizenzvorgabe in das Impressum des Druckstückes eingepflegt werden. 
        </br>
    
    <h3>
    9. Gestaltungsfreiheit, Durchführung des Auftrags und Vorlagen
    </h3>
        <br>
        9.1 Im Rahmen des Auftrags besteht Gestaltungsfreiheit. Reklamationen hinsichtlich der künstlerischen Gestaltung sind ausgeschlossen. Wünscht der Auftraggeber während oder nach der Produktion Änderungen, so hat er die dadurch verursachten Mehrkosten zu tragen.
        </br>
        <br>
        9.2 Verzögert sich die Durchführung des Auftrags aus Gründen, die der Auftraggeber zu vertreten hat, so kann der Grafikdesigner eine angemessene Erhöhung der Vergütung verlangen. Bei Vorsatz oder grober Fahrlässigkeit kann er auch Schadenersatzansprüche geltend machen. Die Geltendmachung eines weitergehenden Verzugsschadens bleibt davon unberührt.
        </br>
        <br>
        9.3 Der Auftraggeber versichert, dass er zur Verwendung aller dem Grafikdesigner übergebenen Vorlagen berechtigt ist. Sollte er entgegen dieser Versicherung nicht zur Verwendung berechtigt sein, stellt der Auftraggeber den Grafikdesigner von allen Ersatzansprüchen Dritter frei.
        </br>
    <h3>
    10. Vertragsauflösung
    </h3>
        <br>
        10.1 Sollte der Auftraggeber den Vertrag vorzeitig kündigen, erhält der Grafikdesigner die vereinbarte Vergütung, muss sich jedoch ersparte Aufwendungen oder durchgeführte oder böswillig unterlassene Ersatzaufträge anrechnen lassen (§ 649 BGB). Die Parteien vereinbaren eine Pauschalierung der bis zu der Kündigung erbrachten Leistungen und Aufwendungen wie folgt: bei Kündigung vor Arbeitsbeginn 10 Prozent der vereinbarten Vergütung. Darüber hinaus sind abweichende individuelle Vereinbarungen möglich. Dem Auftraggeber bleibt der Beweis tatsächlich geringerer Leistungen oder höherer Aufwendungen vorbehalten.
        </br>
    
    <h3>
    11. Verwertungsgesellschaften
    </h3>
        <br>
        11.1 Der Kunde ist darüber informiert, dass bei der Auftragsvergabe im künstlerischen, konzeptionellen und werbeberaterischen Bereich an eine nicht-juristische Person eine Künstlersozialabgabe an die Künstlersozialkasse zu leisten ist. Diese Abgabe darf vom Kunden nicht von der Auftragnehmerrechnung in Abzug gebracht werden. Für die Einhaltung der Anmelde- und Abgabepflicht ist der Kunde zuständig und selbst verantwortlich.
        </br>
    
    <h3>
    12. Schlussbestimmungen
    </h3>
        <br>
        12.1 Für den Fall, dass der Auftraggeber keinen allgemeinen Gerichtsstand in der Bundesrepublik Deutschland hat oder seinen Sitz oder gewöhnlichen Aufenthalt nach Vertragsabschluss ins Ausland verlegt, wird der Sitz des Grafikdesigners als Gerichtsstand vereinbart.
        </br>
        <br>
        12.2 Ist eine der vorstehenden Geschäftsbedingungen unwirksam, so berührt dies die Wirksamkeit der übrigen Geschäftsbedingungen nicht.
        </br>

    <h3>
    13. Eigentumsvorbehalt
    </h3>
        <br>
        13.1 Der Grafikdesigner behält sich das Eigentum an der Ware bis zur vollständigen Bezahlung des Kaufpreises vor.
        </br>  
       <!--Abstand unter dem letzten Satz,damit er nicht so eng am Rand klebt-->
        <br></br>  