<link href="stylesheet.scss" rel=".m-body"/>
<body class=".m-body"></body>
    <body class=".m-about">
        <h1 id="about">
            about
        </h1>
                <!--Würde natürlich interessantere Sachen hinschreiben, habe aber als Designerin bisher nicht so Karriere gemacht🥲-->
                <h5>
                        Hi. Ich bin Madeleine.  
                    <br>
                        Ich wurde am 23.02.2001 in Ratingen geboren ♓︎
                    <br>
                        Ich bin mit meinen Eltern, meiner Schwester, meiner Oma, zwei Pferden, einem Hund, zwei Katzen und Hasen auf einem Grundstück aufgewachsen.
                    <br>
                        Nach der Grundschule habe ich von 2011 bis 2019 das Kopernikus Gymnasium in Lintorf besucht und mit dem Abitur beendet.
                    <br>
                        Zum Wintersemester 2020 habe ich an der Hochschule Düsseldorf den Bachelorstudiengang "Kommunikationsdesign" begonnen.
                    </h5>
                    </br>
                </h5>
    </body>
    <body class=".m-work">
        <h1 id="work">
            work
        </h1>

        <nav class=".m-body-navigation">
            <ul>
                <h3>
                    <li>
                        <a href="#print">print</a> <!--Verlinkung zur Unterseite "print"-->
                    </li>
                    <li>
                        <a href="#web">web</a> <!--Verlinkung zur Unterseite "web" -->
                    </li>
                    <li>
                        <a href="#video">video</a><!--Verlinkung zur Unterseite "video"-->
                    </li>
                    <li>
                        <a href="#experimental">experimental</a> <!--Verlinkung zur Unterseite "experimental" -->
                    </li>
                </h3>
            </ul>
        </nav>

        <br>
        <!--Gesamte Gallerie soll angezeigt werden-->
            <h2>
                <br>
                ❲--Bild 1--❳ &nbsp &nbsp &nbsp &nbsp &nbsp ❲--Bild 2--❳ &nbsp &nbsp &nbsp &nbsp &nbsp ❲--Bild 3--❳
                <br>
                <br>
                ◀︎  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp 
                &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
                &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp ▶︎ <!--Pfeile funktionieren nicht, sollten aber rein theoretisch da sein-->
                <br>
                <br>
                ❲--Bild 4--❳ &nbsp &nbsp &nbsp &nbsp &nbsp ❲--Bild 5--❳ &nbsp &nbsp &nbsp &nbsp &nbsp ❲--Bild 6--❳ 
                </br>
            </h2>
        </br>

        <body class=".m-contact">
            <h1 id="contact">
                contact
            </h1>
                <h2>
                    <br>
                    Madeleine Stolz
                    </br>
                    <br>
                    mail: <a href="mailto:madeleine.stolz@study.hs-duesseldorf.de">madeleine.stolz@study.hs-duesseldorf.de</a> <img src="https://img.icons8.com/fluent-systems-regular/24/000000/email-open.png"/> </br>
                    phone: +0172 9722302  <img src="https://img.icons8.com/ios-filled/24/000000/phone.png"/>
                    </br>
                    <br>
                    I'm looking forward to hearing from you!
                    </br>
                </h2>
            </body>    
    </body>
