<body class=".m-body"></body>
    <body class=".m-about">
        <h1>
            about
        </h1>
            <h2>
                <br>
                Hi. Ich bin Madeleine.
                <br>
                    Ich wurde am 23.02.2001 in Ratingen geboren und habe 2019 am Kopernikus Gymnasium Lintorf mein Abitur gemacht.
                    Jetzt bin ich 20 Jahre alt und studiere im ersten Semester an der Hochschule Düsseldorf.
                </br>
                </h2>
    </body>
    <body class=".m-work">
        <h1>
            work
        </h1>
    </body>
    <body class=".m-contact">
        <h1>
            contact
        </h1>
            <h2>
                <br>
                Madeleine Stolz
                </br>
                <br>
                mail: <a href="mailto:madeleine.stolz@study.hs-duesseldorf.de">madeleine.stolz@study.hs-duesseldorf.de</a><br />
                phone: +0172 9722302
                </br>
                <br>
                I'm looking forward to hearing from you!
                </br>
            </h2>
    </body>
