<link href="stylesheet.scss" rel=".m-footer"/>
<nav class=".m-footer_navigation">
    <ul>
         <li class= "active">
                <a href="impressum.html">Impressum</a>
            </li>
        <li>
              <a href="agb.html">AGB</a>
        </li>
        <li>
              <a href="datenschutz.html">Datenschutz</a>
        </li>
        <li>
            <a href="datenschutzeinstellungen.html">Dateneinstellung</a>
        </li>
     </ul>
</nav>

<h1>
    Finde noch mehr Inspiration 
<!--Link zu meiner Instagram-Seite. Aktuell noch meine Private, hab noch keine für kreative Arbeiten. Würde dann natürlich die verlinken.-->
    <br>
        <a href="https://www.instagram.com/madeleine.stolz/">@madeleine.stolz</a></p>
</h1> 
        <h2>
            Nach oben ⇧ 
        </h2>
