<link href="stylesheet.scss" rel=".m-footer_navigation"/>
<nav class=".m-footer_navigation">
    <ul>
        <li class= "active">
            <a href="#impressum">Impressum</a>
        </li>
        <li>
            <a href="#agb">AGB</a>
        </li>
        <li>
            <a href="#datenschutz">Datenschutz</a>
        </li>
     </ul>
</nav>

<h1>
    Finde noch mehr Inspiration 
<!--Link zu meiner Instagram-Seite. Aktuell noch meine Private, hab noch keine für kreative Arbeiten. Würde dann natürlich die verlinken.-->
    <br>
        <a href="https://www.instagram.com/madeleine.stolz/">@madeleine.stolz</a> <img src="https://img.icons8.com/material/35/000000/instagram-new--v1.png"/></p>  
    <h2>
        <a href="#Startseite">Nach oben⇧</a> <!--Verlinkung nach oben-->
    </h2>

<!--Footer ist eigentlich das Ende der Seite. Hatte Probleme mit den Unterseiten
und habe Impressum, AGB, Datenschutz, print, web, video und experimental 
 deshalb so verlinkt.-->