<link href="header.scss" rel=".m-header"/>
<header class=".m-header">
    <div class=".m-header_logo">
      <h1>
        𝔪
      </h1>
    </div>
</header>
    <div class="header-partial">
        <h1>
            Hi! I am Madeleine. <br>Nice to meet you.</br>
        </h1>
    </div>

<h1>
    ——
    <br></br>
            (Hero-Image)
    <br></br> 
    ——
</h1>

  <nav class=".m-header_navigation">
      <ul>
          <li class= "active">
              <a href="about.html">about</a>
          </li>
        <li>
            <a href="work.html">work</a>
        </li>
        <li>
            <a href="contact.html">contact</a>
        </li>
        <li>
            <label for "suche">search</label>
            <input type= "search" id="suche" placeholder= "🔎"> 
        </li>
      </ul>
  </nav>
  