<link href="stylesheet.scss" rel=".m-header"/>
<header class=".m-header">
    <header class=".m-header_logo">
      <h1>
        𝔪
      </h1>
    </header>

    <p class=".m-header-partial">
        <h1 id="Startseite">
            Hi! I am Madeleine. <br>Nice to meet you.</br>
        </h1>
    </p>

    <h1>
        ——
        <br></br>
                (Hero-Image) <!--hier sollte mein Bild sein-->
        <br></br> 
        ——
    </h1>

    <nav class=".m-header_navigation">
        <h3>
            <ul>
                <li>
                    <a href="#about">about</a> <!--Verlinkung in Body "about"-->
                </li>
                <li>
                    <a href="#work">work</a> <!--Verlinkung in Body "work"-->
                </li>
                <li>
                    <a href="#contact">contact</a> <!--Verlinkung in Body "contact"-->
                </li>
                <li>
                    <label for "suche">search</label>
                    <input type= "search" id="suche" placeholder= "🔎"> 
                </li>
            </ul>
        </h3>	
    </nav>  
</header> 