<link href="stylesheet.scss" rel=".m-impressum"/>
<p class=".m-impressum">
    <h1 id="impressum">
        Impressum
    </h1>
</p>

<p class=".m-impressum_angaben">
<h3>
    Angaben gemäß §5 TMG: 
</h3>
    <br>
        <a href="#about">Madeleine Stolz</a> <!--Verlinkung zu "about", damit man nie vergisst, wer ich bin 🤪-->
    <br>
        Inhaber: Frau Madeleine Stolz
    </br>
    <br>
        Lintorfer Weg 10
    <br>
        40885 Ratingen 
    </br>   
    <br>
        phone:  +0172 9722302
    <br>
        mail:  <a href="mailto:madeleine.stolz@study.hs-duesseldorf.de">madeleine.stolz@study.hs-duesseldorf.de</a><br />
    </br>
<h3>
     Allgemeiner Disclaimer 
</h3>
    <h4>
        <br>
            “Für Vollständigkeit, Fehler redaktioneller und technischer Art, Auslassungen usw. sowie die Richtigkeit der Eintragungen kann keine Haftung übernommen werden. 
            Insbesondere kann keine Gewähr für die Vollständigkeit und Richtigkeit von Informationen übernommen werden, die über weiterführende Links erreicht werden.
            Anbieter sind für die eigenen Inhalte, die sie zur Nutzung bereithalten, nach den allgemeinen Gesetzen verantwortlich.
            Von diesen eigenen Inhalten sind Querverweise auf die von anderen Anbietern bereitgehaltenen Inhalte zu unterscheiden. 
            Die Verweise durch Hyperlinks auf Inhalte fremder Webseiten dienen lediglich der Information. 
            Die Verantwortlichkeit für diese fremden Inhalte liegt alleine bei dem Anbieter, der die Inhalte bereithält. 
            Vor dem Einrichten des entsprechenden Verweises sind die Webseiten der anderen Anbieter mit großer Sorgfalt und nach bestem Wissen und Gewissen überprüft worden. 
            Es kann jedoch keine Gewähr für die Vollständigkeit und Richtigkeit von Informationen übernommen werden, die über weiterführende Hyperlinks erreicht werden.    
            Der Inhalt der anderen Webseiten kann jederzeit ohne unser Wissen geändert werden. Für sämtliche Links auf diesen Seiten gilt: Wir betonen, dass wir keinen Einfluss auf 
            die Gestaltung und die Inhalte der durch Link von unserer Homepage aus erreichbaren Seiten anderer Anbieter haben und uns deren Inhalt nicht zu eigen machen.
            Diese Erklärung gilt für alle Seiten dieser Homepage und die dort angebrachten Links. Falls wir auf Seiten verweisen, deren Inhalt Anlass zur Beanstandung gibt, bitten wir um Mitteilung.” 
        </br> 
    </h4>
</p>