.m-datenschutz {
    display: flex;
    min-height: 100vh;
    margin: 0 auto;
    flex-direction: row;
    background-color: gray;
    text-align: left;
        h1 {
            text-align: left;
        }
        h2 {
            text-align: left;
        }
        h3 {
            text-align: left;
        }
    }