
.m-header {
display: flex;
min-height: 100vh;
margin: 0 auto;
flex-direction: column;
background-color: gray;
text-align: center;

main { 
    min-height: 5em;
    flex: 1;
  
}
    .m-header_logo {
        position: absolute;
        left: 0;
        padding: 12px;
        font-weight: normal;
        text-align: center;
    }
    .m-header-partial {
        position: absolute;
        left: 0;
        padding: 12px;
        font-weight: normal;
        text-align: center;
    }
    .m-header_navigation {
        padding: 12px;
        display: block;
        font-weight: normal;
        text-align: center;
        flex-grow: 2;
    }

    ul {
        display: inline-block;
        li {
            display:inline-block;
        margin-right: 24px;

        a {
            transition: all 0.2s;
            color: #2f4f4f;
            text-decoration: none;

            &:hover {
                color: pink; 
            }
        }
        }
    }  
}